* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);

}

.nav {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo {
    margin-right: 41px;
}

.nav__menu {
    padding-top: 26px;
    padding-bottom: 20px;
}

.nav__menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__right:not(:last-child) {
    margin-right: 33px;

}

.burger__menu {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
}

.nav__menu li:hover .burger__menu {
    display: inherit;
}

.dropmenu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 232px;
    height: 634px;
    padding: 27px 74px 37px 32px;
}

.dropmenu__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

.drop__menu-list:not(:last-child) {
    margin-bottom: 20px;
}

.drop__menu-list ul {
    display: block;
    margin-left: 21px;
}

.drop__menu-list li {
    padding-bottom: 11px;
}

.menu-list__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
}

.menu-list__name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.main {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.main__img {
    width: 50%;
}

.main__img img {
    width: 100%;
}

.main__title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-left: 63px;
}

h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.main__title p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

span {
    color: #F16D7F;
}

.offer__wrapp {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 65px;
    padding-bottom: 65px;
}

.img__row {
    width: 100%;
    max-width: 360px;
    height: 100%;
}

.offer__img {
    position: relative;
}

.img4 {
    grid-column: 1/4;
}

.img4 img {
    height: 100%;
    width: 100%;
    max-width: 1140px;

}

.offer__cont {
    background: rgba(33, 22, 22, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cont__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.cont__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products__title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
    text-align: center;
}

.products__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
    text-align: center;
}

.products__cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    padding-bottom: 48px;
    justify-items: center;
}

.product__card img {
    vertical-align: middle;
}

.card-img__link {
    display: block;
    position: relative;
}

.card-img__link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    background-image: url(./img/Add\ to\ cart.svg);
    background-repeat: no-repeat;
    background-position: center
}

.card-img__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card-img__link:hover:before,
.card-img__link:hover:after {
    opacity: 1;
}

.product__card-img:hover {
    background: rgba(33, 22, 22, 0.86);
}

.card__cont {
    padding: 16px 24px;
    text-align: left;
    background-color: #F8F8F8;
    max-width: 360px;
}

.card__title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;

}

.card__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 16px;
}

.card__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products__btn {
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    transition: all 0.3s;
    cursor: pointer;
}

.products__btn:hover {
    background-color: #F26376;
    color: #fff;
}

.pluses {
    background-color: #222224;

}

.pluses__wrapp {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
    padding-bottom: 104px;

}

.pluses__block {
    text-align: center;
    max-width: 360px;
}

.pluses__block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.pluses__block-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    background-image: url(./img/photo\ subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subscribe__wrapp {
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
    padding-bottom: 126px;
}

.subscrube__info {
    max-width: 360px;
    text-align: center;
}

.subscribe__info-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.subscribe__form {
    padding-top: 53px;
    width: 557px;
    text-align: center;
}

.subscribe__form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;

}

.subscribe__form-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

form {
    display: inline-flex;
}

.subscribe__form input {

    border: none;
    background-color: #E1E1E1;
    border-radius: 30px 0 0 30px;
    padding-left: 22px;
}

.subscribe__form label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #F16D7F;
    width: 100px;
    height: 49px;
    padding: 12px;
    border-radius: 0 30px 30px 0;
    transition: 0.3s;
}

.subscribe__form label:hover {
    cursor: pointer;
    background: #fd4f4f;

}

.copyrite {
    background-color: #222224;
}

.copyrite__wrapp {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.copyrite__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.copyrite__social {
    display: flex;
    justify-content: space-between;
}

.copyrite__social-link {
    width: 31.45px;
    height: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.copyrite__social-link:hover {
    background-color: #F16D7F;
}

.copyrite__social-link:not(:last-child) {
    margin-right: 8px;
}

.copyrite__svg:hover path {
    fill: #fff;
}

/*---------------media---------------------*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        padding-left: 15px;
    }

    .nav__menu {
        padding-right: 15px;
    }

    .main {
        margin-left: auto;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        padding-left: 15px;
    }

    .nav__menu {
        padding-right: 15px;
    }

    .main {
        height: 363px;
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
    }

    .main__img {
        display: none;
    }

    .main__title {
        margin-left: 0px;
    }

    .offer__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img4 img {
        height: 111px;
        width: 360px;
    }

    .menu__social {
        display: none;
    }

    .menu__cart {
        display: none;
    }

    .pluses__wrapp {
        flex-direction: column;
        align-items: center;
    }

    .pluses__block:not(:last-child) {
        margin-bottom: 47px;
    }

    .subscribe__wrapp {
        flex-direction: column;
        align-items: center;
    }
}